/* RTL overrides (Arabic) */
html[dir="rtl"] body {
	direction: rtl;
	text-align: start;
}

html[dir="rtl"] .container {
	direction: rtl;
}

html[dir="rtl"] .text-start {
	text-align: start;
}

html[dir="rtl"] .text-end {
	text-align: end;
}
